*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(13deg ,#afb9ec , #31dddd);
}

.star-card{
  width: 40vw;
  text-align: center;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 3%;
}
  


.star{
  font-size: 3rem;
  color:#ff9800;
  background-color: unset;
  border: none;
  padding: 2%;
 
}

.star:hover{
  cursor: pointer;
}

#curr_rating{
  font-weight: 700;
  font-size: 1.5rem;
}

h1{
  font-size: 2rem;
  padding: 2%;
}